p {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  position: relative;
  color: #898a9c;
}
.section-title h6 {
  color: #ff0000;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  color: #1d2143;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 55px;
  margin: 20px 0;
  color: #1d2143;
}
.top-outer {
  position: relative;
  margin-left: 210px;
  padding-left: 50px;
}

.header-top {
  position: relative;
  z-index: 1;
  background: linear-gradient(
    135deg,
    rgb(10 4 5 / 70%) 0%,
    rgb(22 21 66 / 70%) 48%,
    rgb(15 156 239 / 70%) 100%
  );
  background-color: #26c9f1;
}

.header-top .top-left {
  position: relative;
  float: left;
  padding: 10px 0px;
  margin-left: 13px;
}

.header-top ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: end;
}

.header-top li {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-right: 45px;
  display: inline-block;
  padding: 10px;
}

.nav-menu-parent {
  padding-top: 10px;
}

.nav-bar {
  border-bottom: 0.5px solid rgb(197, 197, 197);
}

.nav-menu-options {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.nav-menu-options ul {
  list-style: none;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 !important;
}

.nav-menu-options ul li {
  margin-right: 30px;
  padding: 15px 0px;
}

.nav-menu-options ul li:last-child {
  margin-right: 20px;
}

.nav-menu-options ul li:first-child {
  margin-left: 20px;
}

.logo-outer {
  position: relative;
  float: left;
  z-index: 25;
  padding-top: 40px;
  margin-top: -50px;
  text-align: center;
  padding-bottom: 18px;
  background-color: #ffffff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.logo-outer:before {
  position: absolute;
  content: "";
  right: -40px;
  top: 0px;
  height: 100%;
  width: 10000%;
  background-color: #ffffff;
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  border-right: 2px solid #4bb9ea;
  box-shadow: 2px 0 4px 0px #8ec642;
}
.highlight-buttons {
  padding: 10px 0px;
}

.w-80 {
  width: 80%;
}
.sky-bg {
  background: #ecf0f9;
}
.section-padding {
  padding-top: 100px;
}
.about-bg-innner {
  background-image: url(https://www.hayathmedicare.in/assets/img/about/about.png);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.about-bg-wrapper {
  height: 100%;
  border: 10px solid #fff;
  border-right: 0;
}
.about-content-wrapper {
  padding: 80px;
  padding-top: 50px;
  background: #fff;
  margin-top: -40px;
  position: relative;
  z-index: 9;
  border-top: 10px solid #8ec640;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

hr {
  border-top: 1px solid #eee;
}

/* Service Section # 03
======================== */
#service-3.services-area {
  background: #fff;
}

#service-3 .single-service-area {
  text-align: center;
  height: 320px;
  padding: 40px;
  background: #fff;
  position: relative;
  z-index: 1;
}

.service-bg {
  height: 270px;
  transform: scale(1.3);
  transition: all 2s ease-out;
}

#service-3 .single-service {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  overflow: hidden;
}

.single-service .service-content {
  position: absolute;
  bottom: 0px;
  left: 20px;
  right: 20px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.service-content h3 {
  font-size: 20px;
  line-height: 22px;
  margin: 10px 0;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  position: relative;
  padding-left: 15px;
}

.service-content h3:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 4px;
  height: 30px;
  background: #8ec640;
  margin-top: -15px;
}

.service-content a.read-more {
  position: absolute;
  bottom: 37px;
  left: 20px;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  font-family: "Teko", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: #8ec640;
  padding-left: 15px;
}

.single-service:hover .service-content h3 {
  transform: translateY(-12px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.single-service:hover .service-content a.read-more {
  transform: translateY(22px);
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.single-service:hover .service-bg {
  transform: scale(1.07);
}

/*Team Page */

#team-page .single-team-member {
  margin-bottom: 100px;
}

/* Choose Us Section # 02
====================== 
*/

.choose-us-area {
  background-image: url(https://www.hayathmedicare.in/assets/img/choose-bg.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
  z-index: 1;
}

.choose-us-area .section-title h2 {
  color: #fff;
}

.choose-us-wrapper {
  background: #fff;
  margin-top: 50px;
  position: relative;
}

.choose-us-inner {
  text-align: center;
  padding: 50px 30px;
  border-right: 1px solid #eee;
}

.choose-us-inner h5 {
  margin: 40px 0 20px;
}

.choose-us-inner:nth-last-child(4) {
  border-right: none;
}

.choose-us-icon {
  position: relative;
  z-index: 1;
}

.choose-us-icon:after {
  position: absolute;
  content: "";
  top: 0;
  left: 50px;
  width: 80px;
  height: 80px;
  background: #f6f6f6;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s;
}

.choose-us-inner:hover .choose-us-icon:after {
  width: 100px;
  height: 100px;
  top: -18px;
  left: 65px;
  background: #8ec640;
  opacity: 0.2;
}

/* Spacer
============== */

.spacer {
  position: relative;
}

.spacer-bg {
  /*	background-image: url(../img/divider.jpg);*/
  background-attachment: fixed;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer-bg .main-btn {
  z-index: 9;
  margin-top: 120px;
}

/* Testimonial Section # 02
============== */

#testimonial-2.testimonial-area {
  background-image: none;
  height: auto;
}

#testimonial-2.testimonial-area .section-title {
  padding: 0;
}

#testimonial-2 .single-team-item img {
  max-width: 70px;
  height: auto;
  float: left;
}

#testimonial-2 .author-desc {
  margin-top: 30px;
}

#testimonial-2 .author-desc h5 {
  font-size: 18px;
  padding-left: 80px;
  margin: 0;
}

#testimonial-2 .author-desc span {
  font-size: 90%;
  color: #8ec640;
  padding-left: 10px;
}

#testimonial-2 .single-team-item {
  background: #fff;
  padding: 50px 50px 70px;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  box-shadow: 0 3px 9px -2px #d0cece;
  border-bottom: 3px solid #fff;
  transition: 0.3s;
  border-radius: 5px;
}

#testimonial-2 .single-team-item:hover {
  border-bottom: 3px solid #8ec640;
}

#testimonial-2 .testimonial-icon i {
  font-size: 25px;
  background: #8ec640;
  padding: 10px;
  position: absolute;
  top: -20px;
  color: #fff;
  z-index: 9;
  border-radius: 5px;
}

#testimonial-2.testimonial-area .owl-dots button.owl-dot span {
  width: 10px;
  height: 10px;
  background: #ddd;
  margin-right: 10px;
  margin-top: 20px;
}

#testimonial-2.testimonial-area .owl-dots button.owl-dot.active span {
  width: 35px;
  height: 10px;
  background: #8ec640;
}

#testimonial-2.testimonial-area .team-carousel .owl-dots {
  text-align: center;
  margin-top: 30px;
}

/* Blog Section 
============== */

.blog-area .single-blog-item {
  background: #fff;
  border-radius: 5px;
}

.blog-area .blog-bg img {
  height: 250px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.blog-area p.blog-meta {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0;
  color: #ff0000;
  text-transform: capitalize;
}

.blog-area p.blog-meta i:before {
  padding-right: 7px;
}

.blog-area .blog-meta i {
  font-size: 20px;
  margin-right: 7px;
}

.blog-content i {
  margin-right: 7px;
}

.blog-content {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}

.blog-area .blog-content h5 a {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #1d2143;
  margin-bottom: 20px;
}

.blog-area .blog-content h5 a:hover {
  color: #8ec640;
}

.blog-area a.read-more {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 0;
  color: #8ec640;
  opacity: 0.5;
}

.blog-area a.read-more:hover {
  opacity: 1;
}

.blog-area .blog-bg {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
}

.blog-area .blog-bg img {
  transition: transform ease 0.3s;
}

.blog-area .blog-bg span {
  background: #8ec640;
  color: #fff;
  padding: 10px;
  display: inline-block;
  width: 60px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

.blog-area .blog-bg img:hover {
  transform: scale(1.3);
  transition: all 2s ease-out;
  border-radius: 5px;
}

/* Footer Area
======================== */

.footer-area {
  background-image: url(https://www.hayathmedicare.in/assets/img/footer-bg.png);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.footer-area h5 {
  color: #fff;
  margin: 20px 0;
}

.footer-area p {
  margin-top: 16px;
  color: #9aa3b2;
}

.contact-info p {
  margin-bottom: 10px;
}

.footer-area ul li a {
  display: block;
  color: #d7d7d7;
  padding: 7px 0;
}

.footer-up ul li a span {
  color: #8ec640;
  font-size: 18px;
  font-weight: 600;
}

.footer-area ul li a:hover {
  color: #8ec640;
}

.subscribe-form button {
  padding: 15px 40px;
  font-size: 16px;
  line-height: 13px;
  background: #8ec640;
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 0;
  cursor: pointer;
}

.subscribe-form {
  position: relative;
}

.subscribe-form input {
  border: 0;
  background: #3d4147;
}

.subscribe-form input::placeholder {
  color: #797a7e;
  font-size: 14px;
}

.footer-up {
  padding: 80px 0;
}

.footer-up .logo {
  width: 210px;
}

.footer-up .social-area i {
  color: #eee;
  font-size: 21px;
  margin-right: 10px;
  margin-top: 20px;
}

.footer-bottom {
  padding: 10px 0;
  background: #20242d;
}

.footer-bottom p {
  margin: 0;
  color: #707579;
}

p.privacy {
  text-align: right;
}


.btn-theme {
    color: #ffffff;
    background-color: #53bceb;
}


.btn-theme2 {
    color: #ffffff;
    background-color: #8ec640;
}
